<a href="https://colab.research.google.com/github/aquapathos/Semi3B/blob/master/L3_2Python%E5%9F%BA%E7%A4%8E%E3%81%AE%E5%9F%BA%E7%A4%8E.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 変数と算術演算

##  変数
- 変数というのは箱みたいなものだと思えば良い
- 箱にものを入れることを、変数への代入という
- 変数には、数値、文字、データフレーム、画像など様々なオブジェクトが入る

## 算術演算

| 演算| 記号|
|:--:|:--:|
|たし算|+|
|ひき算|-|
|かけ算|* |
|わり算|/|
|べき乗|**|
|切り捨てわり算|// |
|わった余り|%|
|整数化| int(式)|
|浮動小数点数化|float(式）|

In [0]:
a = 4
print(9/a)  # 商
print(9//a) # 商の整数部分
print(9%a)  # 余り
print((9 - (9//a)*a)== 9%a)
print((123459 - (123459//a)*a)== 123459%a)

In [0]:
x,y,z = 25,80,9.12345  # ３変数に同時に代入
print(type(z))
x_float = float(x)  # 整数から浮動小数点数への変換
print(x_float)
z_int = int(z) # 浮動小数点数から整数への変換
print(z,z_int,type(z_int))

# 真理値と比較演算子

## 比較演算子
- <  　小なり　　  
- \>　大なり    
- \>=　大なり、または等しい    
- <=　小なり、または等しい    
- ==　等しい    
- !=　異なる
 
 ## 真理値
- True  真
- False 偽
 
 ## 論理演算子
- not 否定    
- and 論理積    
- or 論理和

In [0]:
#  数式中に使うと　Trueは１、False は０として扱われる
print("3*True + 2*False = ",3*True + 2*False)

In [0]:
True == 1 # Trueは整数の１に等しい

In [0]:
False == 0 # Falseは整数の０に等しい

In [0]:
not not False # 二重否定

In [0]:
True and not True

In [0]:
10 !=  100  # !=  は　等しくない、という意味。階乗の意味ではないことに注意。

In [0]:
200 > 120

In [0]:
not 200 > 120

In [0]:
100  >= 100 or 10 != 10

In [0]:
a = "man"; b = "man"; c = "human"  # C や Java のように、; で文を区切ることもできる

In [0]:
a == b

In [0]:
a == c

In [0]:
"m" in b # 「文字列 "m" は b に含まれるか？」　→ True/False

In [0]:
"hum" in c

In [0]:
a in c

In [0]:
# ３つ以上の式の比較をまとめて判定
10 < 20 < 30

In [0]:
10 < 20 < 4

In [0]:
10 < 5 < 9 or 10 == 100/10  > 5

# 文字列

文字列の例 　　"abc"   '山田太郎'

- Python では　” ”で囲まれた文字列と’ ’で囲まれた文字列は区別されない
- 比較演算子 ==, > など で比較できる　（　← C言語と大きく違う点）
-  == は同一の文字列かどうか
-  <, >, >=, <=  は辞書式順序の前後関係が比較される


**len( 文字列） **  文字列のながさ    
**文字列.upper()**   大文字に変換    
**文字列.lower()**    小文字に変換

python２では日本語文字列と英語文字列は扱い方が別であったが、python3では世界各国の文字を統一的に扱う UTFコードが全面的に使用されるようになり、英文字も日本語も１文字は１文字としてカウントされる。

記憶容量的には全角文字１文字は英数文字２文字分の容量を占める。このため、歴史的には全角１文字を２文字としてカウントするような言語、あるいは言語のバージョンが存在し、現在もまだ残っているので注意が必要である。

- **改行文字**  \\n

例   print("abc\\ndef")
~~~
abc    
def~~~

- 改行やスペースも１文字としてカウントされる
- C言語では文字列の終わりに終端記号　\\0　が入り、１文字としてカウントされるが、Python の文字列には終端記号はない

- **print(式, sep=セパレータ, end=終了文字)** 

#### 例
~~~
print("A",122,"B",10,sep="=", end="")
print("続き")
print("さらに続き")

A=122=B=10続き
さらに続き
~~~

In [0]:
"abc" == 'abc'

In [0]:
"abce" > "abgaab"

In [0]:
'abc'.upper()

In [0]:
st = "100万年早いぜ" # 全角文字も１文字は１文字
len(st)

In [0]:
print("abc\ndef")  # 改行文字 \n の動作確認

In [0]:
len("abc\ndef") # 改行文字 \n は１文字とカウントされる

In [0]:
#  文字列に区切り記号を入れる
print("AAA","CCC","DDD", sep="-", end = "!!")

In [0]:
# 文字列の連結
lang = "Python"
"We study " + lang + " everyday."

In [0]:
2*lang # 文字列の繰り返し

In [0]:
# 文字としての数式を評価する
40 + "40/5" # エラー

In [0]:
40+eval("40/5")

# 文字列の操作

## 索引付け

    hw = "Hello World!"    
    hw[0] -> 'H'    
    hw[1] -> 'e'    
    hw[2] -> 'l'    
    hw[100] -> エラー

## スライス

    hw[6:]  -> "World"    
    hw[:5] -> "Hello"
    
## ストライド

    numbers = "0123456"    
    numbers[::2] -> "02456"    
    numbers[1::2] -> "1357"
    

## フォーマット

    prize = ["金","銀","銅"]
    gain = [2,5,4]
    result = "オリンピックメダル　{}{}, {}{}, {}{}".format(prize[0],gain[0],prize[1],gain[1],prize[1],gain[1])
    
    フォーマットの簡易表記
    "%d  %d  %.2f" % (10, 10, 10/3) 
    m,n = 5, 92
    f"{n} を {m}で割ると、{n//m}あまり{n%m},\n  {n} に{m}をかけると、{n*m}."

In [0]:
hw = "Hello World!"
hw[11] # 最初を０として1１文字目

In [0]:
print(hw[6:]) # 最初を０として６文字目から後
print(hw[:5]) # 先頭から５文字

In [0]:
numbers = "0123456789"

In [0]:
numbers[::2]

In [0]:
numbers[1::2]

In [0]:
numbers[0:7:3]

In [0]:
prize = ["金","銀","銅"]
gain = [2,5,4]
result = "オリンピックメダル {}{}, {}{}, {}{}"
result.format(prize[0],gain[0],prize[1],gain[1],prize[2],gain[2])

In [0]:
myname = "山川海彦"
age = 20
"はじめまして。私の名前は{}です。{}歳です。".format(myname,age)

# 課題
myname と age のところを自分の名前と年齢に書き換えて試しなさい。

In [0]:
# 簡易フォーマット
print("%d  %d  %.2f" % (10, 10, 10/3) )

In [0]:
" %s  の文字数は %d " % (myname,len(myname))

In [0]:
m,n = 5, 92
print(f"{n} を {m}で割ると、{n//m}あまり{n%m},\n  {n} に{m}をかけると、{n*m}.")

# タプル、リスト、セット、そしてレンジ

- タプルもリストもセットも、データの集まり（コレクションと呼ばれる）を表すデータ構造
- リストは [ ] 、タプルは 　（）、 セットは { } で囲まれる。
- リストは可変長で、要素の書き換えができるが、タプルは固定長で書き換え不可
- リストとタプルは要素が同じでも、並び順が異なれば別物、セットは要素の並び順に意味がなく、構成要素が同じなら同じセット
- セットは集合のこと。よって同じ要素を２つ含むことがない。

リストの例    
~~~
numbers = [1,1,2,3,5,8,13]    
numbers[0] = 'A'   ->  ['A',1,2,3,5,8,13]    
~~~    
タプルの例    
~~~
tpl = (640, 480, 3)    
tpl[0]   ->  640    
tpl[0] = 480   ->  エラー    
~~~     
セットの例    
~~~
s1 = set((1,3,1))    
s2 = {3,3,1}    
s1 == s2  -> True
~~~     

## 相互変換

- list(タプルまたはセット） 　　リストへ変換
- tuple(セットまたはリスト）　　タプルへ変換
- set( タプルまたはリスト） 　　セットへ変換


例
~~~
a = (1,1,2,3,5)        
b = list(a)    
b.append(b[3]+b[4])    
c = set(b)    
a,b,c    
((1, 1, 2, 3, 5), [1, 1, 2, 3, 5, 8], {1, 2, 3, 5, 8})
~~~

# レンジ（範囲）

- range(start,end,step)   start から end の範囲で、step ごと

例
~~~
range(20,50)    
range(5)  -> range(0,5) に等しい     
list(range(5))  ->  [0,1,2,3.4]    
list(0,10,3) -> [0,3,6,9]    
~~~

# 課題 
例を試してみよう

## リストへの操作
- **append(x)**    
    最後にxを追加
- **clear()**     
    全データをクリア
- **copy()**    
    複製を作る
- **count(x)**    
    xの数
- **extend(追加リスト)**    
    リストの最後に追加リストの要素を順に付け加える
- **index(番号)**    
    [番号]　と同じ
- **insert(idx, x)**    
    idx 番の位置に x を挿入する
- **pop()**    
    一番右の要素を取り出す
- **remove(x)**    
    一番左のxを取り除く。 無いとエラー
- ** reverse()**    
    逆順にする
- ** sort()**    
    小さい順に並べる


例
~~~
a = list(range(0,10,3))
b = a.copy()
c = a
c.append(6)
a,b,c
[0, 3, 6, 9, 6], [0, 3, 6, 9], [0, 3, 6, 9, 6])
~~~

~~~
a.count(6)
2
~~~

~~~
a.extend([3,4])
c
[0, 3, 6, 9, 6, 3, 4]
~~~

~~~
a.index(4), a[4]
(6 6)
~~~

~~~
a.pop(),a
(4,[0, 3, 6, 9, 6, 3])
~~~

~~~
a.remove(6)
a.remove(6)
a
[0, 'A', 3, 9, 3]
~~~

~~~
a.reverse()
a
[3, 9, 3, 'A', 0]
~~~

~~~
a.reverse()
a
[3, 9, 3, 'A', 0]
~~~

~~~
c.remove('A')
a
[3, 9, 3, 0]
~~~

~~~
c.sort()
a
[0, 3, 3, 9]
~~~

# 課題
上に挙がっている例を実際に試してみよう

# dict 辞書式データ型

- キー：値 のペアを保持する    
- 登録できる値は    
    - タプル　　 　
    - 文字列と数値
    - リスト
    - 集合
    - シリーズ（データ列）
    - データフレーム（表）
    - 辞書
のいずれか

    - dict も　{} が使われる。要素が　 　**キー:値** という形なら　dict 、そうでないなら　set
    
### 例
~~~
type({})
dict    # 空だと dict として扱われる
~~~

~~~
d = {'a':1,'b':2,'c':3}
d['e'] = 5
d['d'] = 4
print(d)
d
{'a': 1, 'b': 2, 'c': 3, 'e': 5, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
~~~

~~~
d1 = {} #  空の辞書
d1["Taro"]=100
d1["Jiro"]=80
d1["Hanako"]=120
d１
{'Hanako': 120, 'Jiro': 80, 'Taro': 100}
~~~

## dict の操作
- **dict1.update(dict2)**    
    dict1  に dict2 の要素を連結する
- **dict1.values()**    
    dict1  の値のリスト
- **dict1.keys()**    
    dict1 のキーのリスト
- **dict1.copy()**    
    dict1 の複製
- **dict1.pop(key)**    
    key に合うデータ（キーと値の対）を取り出す
- **dict1.get(key)**    
    keyに対する値をえる。dict1[key]と同じ
    

### 例

~~~
d = {'数学':100, '国語':45, '英語':43}
d1={'理科':98, '社会':56}
d.update(d1)
d
{'国語': 45, '数学': 100, '理科': 98, '社会': 56, '英語': 43}
~~~


~~~
dict1.pop('Jiro')
dict1
{'Hanako': 120, 'Taro': 100}
~~~

# 課題



(1)  toys = {"PS4":36400,  "Switch":32800,  "XBOX":19200} である時、関数 sum, values を使って数値部分の合計を求めるプログラムを作成せよ。

ヒント
- list(toys.values()) で値だけのリストを取り出せる。 
- list が数値のリストであるとき、sum(list) で　要素の合計を計算できる。

(2) toys = {"PS4":"36400円",  "Switch":"32800円",  "XBOX":"19200円"} である時、関数 sum, values を使って数値部分の合計を求めるプログラムを作成せよ。

ヒント
 - list[0]、list[1], list[2] で、list の０番目、1番目、２番目を取り出せる
 -  x = "abc" の時、x[:-1] = "ab"　　　（最後の１文字を削除）
 - 文字列が式（数を含む）であるとき、eval(文字列）で数値に変換できる。
 
(3)  [10  10, "a"  "gudaguda",  10  30, "abc"  "def"]　　

結果が、[True, True, False, True] となるよう、空白部分に、 !=, ==, in のいずれかを入れなさい。

(4)  <あ>、<い>、<う> には何が入るか？　
~~~
dict2 = <あ>
dict1 = { 0:'A', 2:'Q', 3:'J' }
dict1[<い>] =<う>  
dict1.update(dict2)
dict1
~~~
の結果が、    
{0: 'A', 1: 'K', 2: 'Q', 3: 'J', 5: 'X', 6: 'Y'}     
となる。

In [0]:
dict2={5:'X',6:'Y'}
dict1 = { 0:'A', 2:'Q', 3:'J' }
dict1[1]='K'
dict1.update(dict2)
dict1