<a href="https://colab.research.google.com/github/aquapathos/Semi3B/blob/master/Sec2_%E3%83%87%E3%83%BC%E3%82%BF%E6%A7%8B%E9%80%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# タプル、リスト、セット、そしてレンジ

- タプルもリストもセットも、データの集まり（コレクションと呼ばれる）を表すデータ構造
- リストは [ ] 、タプルは 　（）、 セットは { } で囲まれる。
- リストは可変長で、要素の書き換えができるが、タプルは固定長で書き換え不可
- リストとタプルは要素が同じでも、並び順が異なれば別物、セットは要素の並び順に意味がなく、構成要素が同じなら同じセット
- セットは集合のこと。よって同じ要素を２つ含むことがない。

#### リストの例    
~~~
numbers = [1,1,2,3,5,8,13]    
numbers[0] = 'A'   ->  ['A',1,2,3,5,8,13]    
~~~    

#### タプルの例    
~~~
tpl = (640, 480, 3)    
tpl[0]   ->  640    
tpl[0] = 480   ->  エラー    
~~~     

#### セットの例    
~~~
s1 = set((1,3,1))    
s2 = {3,3,1}    
s1 == s2  -> True
~~~     

## 相互変換

- list(タプルまたはセット） 　　リストへ変換
- tuple(セットまたはリスト）　　タプルへ変換
- set( タプルまたはリスト） 　　セットへ変換


#### 例
~~~
a = (1,1,2,3,5)        
b = list(a)    
b.append(b[3]+b[4])    
c = set(b)    
a,b,c    
((1, 1, 2, 3, 5), [1, 1, 2, 3, 5, 8], {1, 2, 3, 5, 8})
~~~

# レンジ（範囲）

- range(start,end,step)   start から end の範囲で、step ごと

#### 例
~~~
range(20,50)    
range(5)  -> range(0,5) に等しい     
list(range(5))  ->  [0,1,2,3.4]    
list(0,10,3) -> [0,3,6,9]    
~~~

# 課題 
例を試してみよう

## リストへの操作
- **append(x)**    
    最後にxを追加
- **clear()**     
    全データをクリア
- **copy()**    
    複製を作る
- **count(x)**    
    xの数
- **extend(追加リスト)**    
    リストの最後に追加リストの要素を順に付け加える
- **index(番号)**    
    [番号]　と同じ
- **insert(idx, x)**    
    idx 番の位置に x を挿入する
- **pop()**    
    一番右の要素を取り出す
- **remove(x)**    
    一番左のxを取り除く。 無いとエラー
- ** reverse()**    
    逆順にする
- ** sort()**    
    小さい順に並べる

## サンプル
####  例  copy(), append() 
~~~
a = list(range(0,10,3))
b = a.copy()
c = a
c.append(6)
a,b,c
[0, 3, 6, 9, 6], [0, 3, 6, 9], [0, 3, 6, 9, 6])
~~~

####  例  count()
~~~
a.count(6)
2
~~~

####  例 extend()
~~~
a.extend([3,4])
c
[0, 3, 6, 9, 6, 3, 4]
~~~

####  例  index()
~~~
a.index(4), a[4]
(6 6)
~~~

####  例  pop()
~~~
a.pop(),a
(4,[0, 3, 6, 9, 6, 3])
~~~

####  例 remove()
~~~
a.remove(6)
a.remove(6)
a
[0, 'A', 3, 9, 3]
~~~

####  例 reverse()
~~~
a.reverse()
a
[3, 9, 3, 'A', 0]
~~~

~~~
a.reverse()
a
[3, 9, 3, 'A', 0]
~~~

#### 例  remove()
~~~
c.remove('A')
a
[3, 9, 3, 0]
~~~

#### 例  sort()
~~~
c.sort()
a
[0, 3, 3, 9]
~~~

# dict 辞書式データ型

- キー：値 のペアを保持する    
- 登録できる値は    
    - タプル　　 　
    - 文字列と数値
    - リスト
    - 集合
    - シリーズ（データ列）
    - データフレーム（表）
    - 辞書
のいずれか

    - dict も　{} が使われる。要素が　 　**キー:値** という形なら　dict 、そうでないなら　set
    
### 例
~~~
type({})
dict    # 空だと dict として扱われる
~~~

~~~
d = {'a':1,'b':2,'c':3}
d['e'] = 5
d['d'] = 4
print(d)
d
{'a': 1, 'b': 2, 'c': 3, 'e': 5, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
~~~

~~~
d1 = {} #  空の辞書
d1["Taro"]=100
d1["Jiro"]=80
d1["Hanako"]=120
d１
{'Hanako': 120, 'Jiro': 80, 'Taro': 100}
~~~

## dict の操作
- **dict1.update(dict2)**    
    dict1  に dict2 の要素を連結する
- **dict1.values()**    
    dict1  の値のリスト
- **dict1.keys()**    
    dict1 のキーのリスト
- **dict1.copy()**    
    dict1 の複製
- **dict1.pop(key)**    
    key に合うデータ（キーと値の対）を取り出す
- **dict1.get(key)**    
    keyに対する値をえる。dict1[key]と同じ
    

#### 例

~~~
d = {'数学':100, '国語':45, '英語':43}
d1={'理科':98, '社会':56}
d.update(d1)
d
{'国語': 45, '数学': 100, '理科': 98, '社会': 56, '英語': 43}
~~~


~~~
dict1.pop('Jiro')
dict1
{'Hanako': 120, 'Taro': 100}
~~~

# 課題



(1)  toys = {"PS4":36400,  "Switch":32800,  "XBOX":19200} である時、関数 sum, values を使って数値部分の合計を求めるプログラムを作成せよ。

ヒント
- list(toys.values()) で値だけのリストを取り出せる。 
- list が数値のリストであるとき、sum(list) で　要素の合計を計算できる。

(2) toys = {"PS4":"36400円",  "Switch":"32800円",  "XBOX":"19200円"} である時、関数 sum, values を使って数値部分の合計を求めるプログラムを作成せよ。

ヒント
 - list[0]、list[1], list[2] で、list の０番目、1番目、２番目を取り出せる
 -  x = "abc" の時、x[:-1] = "ab"　　　（最後の１文字を削除）
 - 文字列が式（数を含む）であるとき、eval(文字列）で数値に変換できる。
 
(3)  [10  10, "a"  "gudaguda",  10  30, "abc"  "def"]　　

結果が、[True, True, False, True] となるよう、空白部分に、 !=, ==, in のいずれかを入れなさい。

(4)  <あ>、<い>、<う> には何が入るか？　
~~~
dict2 = <あ>
dict1 = { 0:'A', 2:'Q', 3:'J' }
dict1[<い>] =<う>  
dict1.update(dict2)
dict1
~~~
の結果が、    
{0: 'A', 1: 'K', 2: 'Q', 3: 'J', 5: 'X', 6: 'Y'}     
となる。

# 補足　リストと四則演算

- リスト　＋ リスト　はリストの連結を意味する
- リスト　* 整数　は要素の繰り返しを意味する。
>- リスト * 2 = リスト + リスト
>- リスト * 3 = リスト + リスト　 + リスト

In [0]:
x = [1,2];  y=[10,100]

In [0]:
#　リスト＋リストは　リストの連結
x+y

[1, 2, 10, 100]

In [0]:
# リスト＊整数は要素の繰り返し
# 例えば、リスト*3＝ リスト + リスト +  リスト　と考えれば納得できる
x*4 + y

[1, 2, 1, 2, 1, 2, 1, 2, 10, 100]

In [0]:
# リスト  * 　リスト　はエラー
x*y

TypeError: ignored

In [0]:
toys = {"PS4":36400, "Switch":32800, "XBOX":19200}
sum(list(toys.values()))

88400

In [0]:
toys = {"PS4":"36400円", "Switch":"32800円", "XBOX":"19200円"}
list(toys.values())

['36400円', '32800円', '19200円']

In [0]:
[x[:-1] for x in list(toys.values())]

['36400', '32800', '19200']

In [0]:
[eval(x[:-1]) for x in list(toys.values())]

[36400, 32800, 19200]

In [0]:
sum([eval(x[:-1]) for x in list(toys.values())])

88400

In [0]:
[10==10, "a" in "gudaguda", 10 == 30, "abc" != "def"]

[True, True, False, True]

In [0]:
dict1.update(dict2)

NameError: ignored

In [0]:
{0: 'A', 1: 'K', 2: 'Q', 3: 'J', 5: 'X', 6: 'Y'}

{0: 'A', 1: 'K', 2: 'Q', 3: 'J', 5: 'X', 6: 'Y'}

In [0]:
dict1 = { 0:'A', 2:'Q', 3:'J' }

In [0]:
dict2 = {1:'K',5:'X',6:'Y'}

In [0]:
dict1.update(dict2)

In [0]:
dict1

{0: 'A', 1: 'K', 2: 'Q', 3: 'J', 5: 'X', 6: 'Y'}